*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

body{
    background-color: black;
}

.calc-container {
    max-height: 32rem;
    background-color: black;
    width:30%;
    margin: 25px auto;
    padding: 3rem;
    border: 2px solid orangered;
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}
.itemone{
    background-color: red;
    height: 80px;
    width: 100%;
    margin:0 auto;
}
.itemtwo{
    background-color: black;
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
}
.calc-container #result-el {
    background-color: black;
    height: 80px;
    width: inherit;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    background-color: white;
    font-size: 30px;
    color: white;
    overflow-y: auto;  
}

.size{
    width: 100%;
    background-color: inherit;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: 1px solid gray;
    outline-color: none;
}
.orange{
    color: orangered;
}

.size:hover{
    background-color: rgb(55, 50, 50);
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    body{
        background: blue;
        
    }
    .calc-container{
        margin: 40px auto;
        width: 50%;
        border: 2px solid purple;
    }
    
    .orange{
        color: purple;
    }
}

@media screen and (max-width:600px) {
    body{
        background-color: purple;
    }
    
    .calc-container{
        width: 80%;
        border: 2px solid blue;
    }
    
    .orange{
        color: blue;
    }
}

@media screen and (max-width:344px) {
    body{
        background-color: red;
            margin: 0px auto;
    }
    
    .calc-container{
        width: 90%;
        margin: 100px auto;
        padding: 1rem;
        height: 25rem;
    }
    textarea{
        font-size: 20px;
    }
    .size{
        font-size: 20px;
    }
}